<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Tests_Login" parallel="methods" thread-count="6">
	<test name="Test1">
		<classes>
			<class name="tests.test_Login_Valid" />
		</classes>
	</test> 
	<test name="Test2">
		<classes>
			<class name="tests.test_Login_Invalid" />
		</classes>
	</test>
	<test name="Test3">
		<classes>
			<class name="tests.test_Dashboard_ApplyLeave" />
		</classes>
	</test>
	<test name="Test4">
		<classes>
			<class name="tests.test_Dashboard_AssignLeave" />
		</classes>
	</test>
</suite>
